<!-- user/new -->
<!-- header  部分テンプレート　_header.html.erb -->
<%= render 'books/header', books: @books %>

<div class="body">
	<div class="container">
		<div class="row">

			<div class='col-xs-3'>
				<div class="user_info">
					<h2>User info</h2>
					<table class='table'>
						<tr>
							<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>
						</tr>
						<tr>
							<th>name</th>
							<th><%= @user.name %></th>
						</tr>
						<tr>
							<th>introduction</th>
							<th><%= @user.introduction %></th>
						</tr>
					</table>
					<div class='row'>
						<% if @user.id == current_user.id %>
							<p><%= link_to "", edit_user_path(@user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
						<% else %>
							<p><%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %></p>
						<% end %>
				    </div>
				</div>
				<h2>New book</h2>
				<form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
					<div class="field row">
						<label for="book_title">Title</label>
						<input class="col-xs-12" type="text" name="book[title]" id="book_title" />
					</div>

					<div class="field row">
						<label for="book_opinion">Opinion</label>
						<textarea class="col-xs-12" name="book[body]" id="book_body">
						</textarea>
					</div>

					<div class="actions row">
						<input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" />
					</div>
				</form>
			</div>

			<div class='col-xs-9'>
				<h2>Users</h2>

				<table class='table'>
					<thead>
						<tr>
							<th>image</th>
							<th>name</th>
							<th colspan="3"></th>
						</tr>
					</thead>

					<% @users.each do |user| %>
						<tbody>
							<tr>
								<td>
									<%= attachment_image_tag user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg" %>
								</td>
								<td><%= user.name %></td>
								<td><%= link_to "Show", user_path(user) %></td>
							</tr>
						</tbody>
					<% end %>

				</table>
			</div>
		</div>
	</div>
</div>

<!-- hoofer  部分テンプレート　_footer.html.erb -->
<%= render 'books/footer' %>