<!-- header  部分テンプレート　_header.html.erb -->
<%= render 'books/header', books: @books %>

<div class="body">
	<div class='container'>
		<div class='row'>
			<div class='col-xs-3'>
				<h2>User info</h2>
				<table class='table'>
					<tr><img class="attachment user profile_image fallback" src="" alt="No image" /></tr>
					<tr>
						<th>name</th>
						<th>＃＃＃＃</th>
					</tr>
					<tr>
						<th>introduction</th>
						<th>＃＃＃＃</th>
					</tr>
				</table>
				<div class='row'>
					<a class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" href="/users/156/edit"></a>
			    </div>

				<h2>New book</h2>
				<%= form_for(@book) do |f| %>
					<div class="field row">
						<label for="book_title">Title</label>
						<%= f.text_field :title %>
					</div>
					<div class="field row">
						<label for="book_opinion">Opinion</label>
						<%= f.text_area :opinion %>
					</div>
					<div class="actions row">
						<%= f.submit 'Create Book' %>
					</div>
				<% end %>

			</div>

			<!-- 右　全ブックの一覧　Image title　opinion-->
			<div class='col-xs-9'>
				<h2>Books</h2>

				<table class='table table-hover table-inverse'>
					<thead>
						<tr>
							<th></th>
							<th>Title</th>
							<th>Opinion</th>
							<th colspan="3"></th>
						</tr>
					</thead>
					<% @books.each do |book| %>
						<tbody>
							<tr>
								<!-- 投稿ユーザーのshowページへリンク、プロフ画像の表示 -->
								<td><a href=""><img class="attachment user profile_image fallback" /></a></td>
								<td><%= book.title %></td>
								<td><%= book.opinion %></td>
							</tr>
						</tbody>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</div>


<!-- hoofer  部分テンプレート　_footer.html.erb -->
<%= render 'books/footer' %>
